a.menu-item {
    color: black;
    text-decoration: none;
}
a.menu-item:hover {
    font-weight: 600;
}
.animated.fadeIn, .animated.fadeOut {
    animation-duration: 0.5s;
}
.animated.rubberBand {
    animation-duration: 0.5s;
}
@keyframes rubberBand {
    from {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
    30% {
        -webkit-transform: scale3d(1, 0.75, 1);
        transform: scale3d(1, 0.75, 1);
    }
    40% {
        -webkit-transform: scale3d(1, 1.25, 1);
        transform: scale3d(1, 1.25, 1);
    }
    50% {
        -webkit-transform: scale3d(1, 0.85, 1);
        transform: scale3d(1, 0.85, 1);
    }
    65% {
        -webkit-transform: scale3d(1, 1.05, 1);
        transform: scale3d(1, 1.05, 1);
    }
    75% {
        -webkit-transform: scale3d(1, 0.95, 1);
        transform: scale3d(1, 0.95, 1);
    }
    to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}
div.body-wrapper {
    display: table;
    height: calc(100% - 95px);
    position: relative;
    top: 0px;
    width: 100%;
}
@media(min-width: 550px) {
    div.body-wrapper {
        height: calc(100% - 45px);
    }
}
div.content-wrapper {
    display: table-cell;
    vertical-align: middle;
}
div.footer-wrapper {
    display: table-row;
    height: 0px;
}
div.header-wrapper {
    display: table-row;
    height: 0px;
}
div.links-row {
    padding-top: 5px;
    padding-bottom: 5px;
}
div.nav-row {
    border-top: 1px solid darkgreen;
    padding-top: 5px;
    padding-bottom: 5px;
}
div.nav-wrapper {
    bottom: 0px;
    height: 95px;
    position: absolute;
    width: 100%;
}
@media(min-width: 550px) {
    div.nav-wrapper {
        height: 45px;
    }
}
div.not-active {
    display: none;
}
div.page-wrapper {
    height: 100%;
    position: absolute;
    width: 100%;
}
div.subtitle-row {
    padding-top: 5px;
    padding-bottom: 5px;
}
div.title-row {
    border-bottom: 2px solid darkgreen;
    padding-top: 5px;
    padding-bottom: 5px;
}
h1.name-title {
    font-size: 4.0rem;
    font-variant: small-caps;
    margin-bottom: 0px;
    text-align: center;
}
h3.current-item {
    font-weight: 600;
}
h3.nav-item {
    font-size: 2.0rem;
    font-variant: small-caps;
    margin-bottom: 0px;
    text-align: center;
}
h6.menu-item {
    margin-bottom: 0px;
    text-align: center;
}
img.landing-button {
    border: 1px solid darkgreen;
    border-radius: 100%;
    bottom: -64px;
    box-sizing: border-box;
    height: 26px;
    left: 50%;
    margin-bottom: 5px;
    margin-left: -13px;
    margin-top: 5px;
    position: absolute;
    width: 26px;
    z-index: 1;
}
img.landing-button:hover, img.landing-button.current-item {
    border-width: 2px;
    height: 28px;
    margin-bottom: 4px;
    margin-left: -14px;
    margin-top: 4px;
    width: 28px;
}
@media(min-width: 550px) {
    img.landing-button {
        bottom: -45px;
        height: 46px;
        margin-left: -23px;
        width: 46px;
    }
    img.landing-button:hover, img.landing-button.current-item {
        border-width: 3px;
        height: 50px;
        margin-bottom: 3px;
        margin-left: -25px;
        margin-top: 3px;
        width: 50px;
    }
}
span.dark-green {
    color: darkgreen;
}
span.medium-bold {
    font-weight: 600;
}
