a.menu-item {
    color: black;
    text-decoration: none;
}
a.menu-item:hover {
    font-weight: 600;
}
div.body-wrapper {
    display: table;
    height: calc(100% - 64px);
    position: relative;
    width: 100%;
}
@media(min-width: 640px) {
    div.body-wrapper {
        height: calc(100% - 45px);
    }
}
div.content-wrapper {
    display: table-cell;
    vertical-align: middle;
}
div.footer-wrapper {
    display: table-row;
    height: 0px;
}
div.header-wrapper {
    display: table-row;
    height: 0px;
}
div.not-active {
    display: none;
}
div.links-row {
    padding-top: 5px;
    padding-bottom: 5px;
}
div.nav-row {
    border-top: 1px solid darkgreen;
    padding-top: 5px;
    padding-bottom: 5px;
}
div.nav-wrapper {
    bottom: 0px;
    height: 64px;
    position: absolute;
    width: 100%;
}
@media(min-width: 640px) {
    div.nav-wrapper {
        height: 45px;
    }
}
div.page-wrapper {
    height: 100%;
    position: absolute;
    width: 100%;
}
div.subtitle-row {
    padding-top: 5px;
    padding-bottom: 5px;
}
div.title-row {
    border-bottom: 2px solid darkgreen;
    padding-top: 5px;
    padding-bottom: 5px;
}
h1.name-title {
    font-size: 4.0rem;
    font-variant: small-caps;
    margin-bottom: 0px;
    text-align: center;
}
h3.current-item {
    font-weight: 600;
}
h3.nav-item {
    color: darkgreen;
    font-size: 2.0rem;
    font-variant: small-caps;
    margin-bottom: 0px;
    text-align: center;
}
h3.nav-item:hover {
    font-weight: 600;
}
h6.menu-item {
    margin-bottom: 0px;
    text-align: center;
}
img.landing-button {
    border: 1px solid darkgreen;
    border-radius: 100%;
    bottom: -64px;
    box-sizing: border-box;
    height: 25px;
    left: 10px;
    margin-bottom: 5px;
    margin-top: 5px;
    position: absolute;
    width: 25px;
    z-index: 1;
}
img.landing-button:hover, img.landing-button.current-item {
    border-width: 2px;
    height: 27px;
    margin-bottom: 4px;
    margin-top: 4px;
    width: 27px;
}
img.landing-button.current-item {
    display: none;
}
@media(min-width: 640px) {
    img.landing-button {
        bottom: -45px;
        height: 46px;
        left: 50%;
        margin-left: -23px;
        width: 46px;
    }
    img.landing-button:hover, img.landing-button.current-item {
        border-width: 3px;
        height: 50px;
        margin-bottom: 3px;
        margin-left: -25px;
        margin-top: 3px;
        width: 50px;
    }
    img.landing-button.current-item {
        display: block;
    }
}
span.dark-green {
    color: darkgreen;
}
span.medium-bold {
    font-weight: 600;
}
