a.menu-item {
    color: black;
    text-decoration: none;
}
a.menu-item:hover {
    font-weight: 500;
}
div.body-wrapper {
    display: table;
    height: calc(100% - 170px);
    width: 100%;
}
@media (min-width: 550px) {
    div.body-wrapper {
        height: calc(100% - 75px);
    }
}
div.content-wrapper {
    display: table-cell;
    vertical-align: middle;
}
div.footer-wrapper {
    height: 75px;
}
div.links-row {
    padding-top: 5px;
    padding-bottom: 5px;
}
div.nav-row {
    border-top: 1px solid darkgreen;
    box-sizing: border-box;
    padding-top: 5px;
    padding-bottom: 5px;
}
div.page-wrapper {
    height: 100%;
    position: absolute;
    width: 100%;
}
div.subtitle-row {
    padding-top: 5px;
    padding-bottom: 5px;
}
div.title-row {
    border-bottom: 2px solid darkgreen;
    box-sizing: border-box;
    padding-top: 5px;
    padding-bottom: 5px;
}
h1.name-title {
    font-size: 4.0rem;
    font-variant: small-caps;
    margin-bottom: 0;
    text-align: center;
}
h3.nav-item {
    color: darkgreen;
    font-size: 2.0rem;
    font-variant: small-caps;
    margin-bottom: 0;
    text-align: center;
}
h3.nav-item:hover {
    font-weight: 500;
}
h6.menu-item {
    margin-bottom: 0;
    text-align: center;
}
span.dark-green {
    color: darkgreen;
}
span.medium-bold {
    font-weight: 500;
}
